{
  "root": true,
  "extends": "@react-native",
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {}
}
